@import 'css/variables';

.heading-set {
  max-width: 400px;

  &.centered {
    text-align: center;
  }

  .heading-set__overtitle {
    color: var(--color-pink-crayon);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }

  .heading-set__title {
    font-family: var(--font-family-heading);
    font-size: 24px;
    margin-top: 8px;
  }

  .heading-set__description {
    color: var(--colors-gray-darker);
    margin-top: 16px;
  }
}

@media (min-width: $screen-lg) {
  .heading-set {
    .heading-set__title {
      font-size: 32px;
    }
  }
}
