@import 'css/variables';

.heading-set {
  max-width: 400px;

  &.centered {
    text-align: center;
  }

  &.disabled {
    .heading-set__overtitle,
    .heading-set__title,
    .heading-set__description {
      color: var(--color-gray-light);
    }

    img {
      opacity: 20%;
    }
  }

  .heading-set__overtitle,
  .heading-set__title,
  .heading-set__description {
    transition: color var(--duration-moderate) linear;
  }

  .heading-set__overtitle {
    color: var(--color-pink-crayon);
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }

  .heading-set__title {
    font-family: var(--font-heading);
    font-size: 24px;
    line-height: 28px;
    margin-top: 8px;
  }

  .heading-set__description {
    color: var(--colors-gray-darker);
    margin-top: 16px;
  }

  img {
    border-radius: var(--border-radius-lg);
    margin-bottom: 64px;
    transition: opacity var(--duration-moderate) linear;
  }

  div.heading-set__description p {
    margin-top: 1rem;
  }
}

@media (min-width: $screen-lg) {
  .heading-set {
    .heading-set__title {
      font-size: 32px;
      line-height: 38px;
    }

    img {
      border-radius: var(--border-radius-2xl);
    }
  }
}
