@import 'css/helpers';

.console-panel {
  .log-line {
    position: relative;

    &:hover,
    &:global(.active) {
      .travel {
        --translate-x: 0;

        opacity: 1;
      }
    }

    .travel {
      --translate-x: -20px;

      padding: 0 12px 0 10px;
      display: inline-flex;
      align-items: center;
      border-radius: 0 var(--border-radius-full) var(--border-radius-full) 0;
      position: absolute;
      top: 50%;
      height: 24px;
      left: -4px;
      background: #03a2fd;
      color: white;
      font-size: 12px;
      font-weight: 600;
      transform: translate(var(--translate-x), -50%);
      transition-property: transform, opacity;
      transition-duration: var(--duration-fast);
      transition-timing-function: ease-out;
      opacity: 0;
      z-index: 1;

      &:hover,
      &:global(.active) {
        --translate-x: 4px;
      }

      .icon {
        display: inline-block;
        width: 12px;
        margin-right: 4px;
      }
    }

    .marker {
      margin-right: 15px;
    }
  }
}

.react-dev-tools {
  display: grid;
  grid-template-rows: auto 1fr;
  background: var(--color-white);

  .node-line {
    cursor: pointer;
    border-radius: 4px;

    // &:hover,
    &.active {
      background: var(--color-gray-lightest);
    }
  }
}
