.root {
  position: relative;

  .scrollable {
    width: 100%;
    max-width: 100%;
    overflow: auto;
  }

  .gradient {
    z-index: var(--z-index-10);
    opacity: 0;
    transition: opacity var(--duration-fast) linear;
    pointer-events: none;
    height: 100%;
    width: 30%;
    position: absolute;
    background: linear-gradient(
      var(--direction),
      var(--color-transparent),
      var(--color-white)
    );

    &.right {
      --direction: to right;

      right: 0;
    }

    &.left {
      --direction: to left;

      left: 0;
    }

    &.active {
      opacity: 1;
    }
  }
}
