.section {
  margin-top: 64px;

  .main-features {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
  }
}

.progress-bar {
  width: 4px;

  .progress-bar__bar {
    height: 640px;
    background: var(--color-pink-crayon);
  }
}
