@import 'css/variables';

.section {
  margin-top: 64px;
  position: relative;
  background: var(--color-white);

  .main-features {
    position: relative;
    padding-left: 40px;
    margin-left: 16px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    justify-content: space-between;

    .feature:last-child {
      margin-top: 96px;
    }
  }
}

.progress-bar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 20px;
  margin: 0 -20px;
  mask-image: radial-gradient(
    circle,
    #d9d9d9 0,
    #d9d9d9 60%,
    hsl(0deg 0% 85% / 0) 98%
  );
}

@media (min-width: $screen-md) {
  .section {
    .main-features {
      padding-left: 0;
      margin-left: 0;
      grid-template-columns: repeat(3, auto);

      .feature:last-child {
        margin-top: auto;
      }
    }
  }

  .progress-bar {
    padding: 0 36px;
    position: static;
    height: 640px;
  }
}
