@import '~/css/helpers';

.navigationSitemap {
  position: fixed;
  top: var(--header-height);
  left: 0;
  right: 0;
  width: 100%;
  height: 48px;
  z-index: calc(var(--header-z-index) - 1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-100%);
  transition-property: transform, opacity, visibility;
  transition-duration: var(--duration-normal);
  transition-timing-function: var(--ease-1);
  background: var(--black);

  &.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }

  &::after {
    content: '';
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgb(17 24 39 / 0.12) 0%,
      #111827 51.56%,
      rgb(17 24 39 / 0.12) 100%
    );
  }

  .listWrapper {
    height: 100%;
    display: flex;
    align-items: center;

    @include respond-to('min-tablet-lg') {
      justify-content: center;
    }

    @include respond-to('tablet-lg') {
      overflow: hidden;
      mask-image: linear-gradient(
        to right,
        transparent 0%,
        black 32px,
        black calc(100% - 100px),
        transparent 99%
      );
    }

    ul {
      display: flex;
      align-items: center;
      gap: 16px;
      height: 100%;
      position: relative;

      @include respond-to('tablet-lg') {
        overflow-x: auto;
        scroll-behavior: smooth;
      }

      li {
        @include respond-to('tablet-lg') {
          &:first-child {
            padding-left: 16px;
          }

          &:last-child {
            padding-right: 32px;
          }
        }

        a {
          font-weight: 500;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: -0.02em;
          color: var(--grey-400);
          height: 32px;
          display: flex;
          align-items: center;
          padding: 5.5px 12px;
          transition-property: color, border-color, background, width;
          transition-duration: var(--duration-normal);
          transition-timing-function: var(--ease-1);
          border-radius: 8px;
          border: 1px solid transparent;
          overflow: hidden;
          width: var(--closed);
          white-space: nowrap;
          will-change: width;

          &.active {
            background: rgb(17 24 39 / 0.56);
            border-color: #1f2937db;
            width: calc(var(--open) + 6px);

            .shortTitle {
              color: var(--white);
            }

            .completeTitle {
              color: var(--grey-400) !important;
            }

            &:hover {
              box-shadow: 0 0 20px 6px rgb(17 24 39 / 1);
            }
          }

          @include respond-to('tablet-lg') {
            width: auto !important;
          }

          &:hover {
            color: var(--white);
          }

          .shortTitle {
            display: flex;
            align-items: center;
            gap: 8px;
            padding-right: 14px;
            margin-right: -14px;

            .icon {
              width: 12px;
              height: 12px;
            }
          }

          .completeTitle {
            position: relative;
            margin-left: 4px;
          }
        }
      }
    }
  }
}
