@import 'css/variables';

.section {
  margin: auto;
  margin-top: 200px;
  overflow: hidden;
  max-width: 2560px;

  .container {
    .heading {
      display: flex;
      flex-direction: column;
      gap: 24px;
      place-content: center;
      max-width: 620px;
      margin: auto;
      margin-bottom: 112px;
      text-align: center;

      p {
        line-height: 138%;
      }
    }
  }

  > div:nth-child(2) {
    position: relative;
    width: 100%;

    &::before,
    &::after {
      position: absolute;
      content: '';
      width: 10%;
      height: 100%;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        to left,
        var(--color-white) 30%,
        transparent 100%
      );
      z-index: 1;
    }

    &::after {
      right: unset;
      left: 0;
      background: linear-gradient(
        to right,
        var(--color-white) 30%,
        transparent 100%
      );
    }
  }

  .team {
    .slider {
      > div {
        overflow: visible;

        > div {
          gap: 40px;

          .slide {
            margin: 0;

            div {
              width: 400px;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $screen-2xl) {
  .section {
    > div:nth-child(2) {
      &::before,
      &::after {
        width: 5%;
        background: linear-gradient(
          to left,
          var(--color-white) 5%,
          transparent 100%
        );
      }

      &::after {
        right: unset;
        left: 0;
        background: linear-gradient(
          to right,
          var(--color-white) 5%,
          transparent 100%
        );
      }
    }
  }
}

@media (max-width: $screen-lg) {
  .section {
    .team {
      .slider {
        > div {
          > div {
            gap: 28px;
          }
        }
      }
    }
  }
}

@media (max-width: $screen-md) {
  .section {
    > div:nth-child(2) {
      width: 100%;

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .section {
    margin-top: 112px;

    .container {
      .heading {
        gap: 8px;
        margin-bottom: 48px;
      }
    }

    .slider-container {
      padding: 0;
    }

    .team {
      .slider {
        > div {
          > div {
            gap: 16px;
            height: 100%;

            .slide {
              margin: 0;
              margin: auto;

              div {
                width: 82vw;
                height: unset;
                min-width: unset;
                max-width: 380px;
              }
            }
          }
        }
      }
    }
  }
}
