@import 'css/variables';
@import 'css/helpers';

.embla {
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__viewport.is-draggable {
  cursor: grab;
}

.embla__viewport.is-dragging {
  cursor: grabbing;
}

.embla__container {
  display: flex;
  justify-content: space-between;
  user-select: none;

  @include space-x(24px);
}

.embla__slide {
  width: 100%;
  position: relative;
}

.embla__slide__inner {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.embla__dots {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 32px;

  @include space-x(6px);
}

.embla__dot {
  background-color: var(--color-transparent);
  cursor: pointer;
  position: relative;
  padding: 0;
  outline: 0;
  border: 0;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;

  &.scaled-90::after {
    transform: scale(0.9);
  }

  &.scaled-80::after {
    transform: scale(0.8);
  }

  &.scaled-70::after {
    transform: scale(0.7);
  }

  &.scaled-60::after {
    transform: scale(0.6);
  }

  &.scaled-50::after {
    transform: scale(0.5);
  }
}

.embla__dot::after {
  background: var(--color-gray-lighter);
  width: 12px;
  height: 12px;
  border-radius: var(--border-radius-full);
  margin: 0 auto;
  content: '';
  transition: transform var(--duration-fast) linear;
}

.embla__dot.is-selected::after {
  background: var(--color-pink-crayon);
  width: 15px;
  height: 15px;
  opacity: 1;
}

.arrows-container {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 19px;
  width: 100%;
  margin-top: 35px;

  button {
    padding: 5px;

    &:hover {
      svg {
        path {
          &:first-child {
            fill: var(--color-pink-crayon);
          }

          &:nth-child(2) {
            stroke: var(--color-pink-crayon);
          }
        }
      }
    }

    svg {
      path:first-child {
        fill: var(--color-gray-dark);
      }

      path:nth-child(2) {
        stroke: var(--color-gray-dark);
      }
    }
  }
}

@media (min-width: $screen-sm) {
  .embla__dots {
    margin-top: 40px;
  }

  .embla__dot {
    width: 12px;
    height: 12px;
  }

  .embla__dot::after {
    width: 8px;
    height: 8px;
  }

  .embla__dot.is-selected::after {
    width: 12px;
    height: 12px;
  }
}
