.container {
  margin: 0 auto;
  display: block;
  perspective: 60vh;
  line-height: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  mask: linear-gradient(
    to bottom,
    rgb(0 0 0 / 0) 50%,
    rgb(0 0 0 / 1) 75%,
    rgb(0 0 0 / 0) 100%
  );
}

.rotate {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  min-width: 100vh;
  transform-origin: center center;
  transform: translateY(-50%) translateX(-50%) rotateX(60deg) scaleY(0.7);
  backface-visibility: hidden;
}

.y-group-control {
  transform: translateY(-30%);
}

.grid {
  width: 100%;
  animation: displace 60s linear infinite;
  animation-play-state: var(--section-play-state);
  user-select: none;
}

@keyframes displace {
  from {
    transform: translate3d(0, 0, 0) translateY(0%);
  }

  to {
    transform: translate3d(0, 0, 0) translateY(100%);
  }
}
