@import 'css/variables';

.heading {
  color: var(--color-white);
  font-family: var(--font-heading);
  letter-spacing: -0.04em;
  line-height: 1.14;

  &.centered {
    text-align: center;
  }

  &.sm {
    font-size: 32px;
  }

  &.lg {
    font-size: 32px;
  }
}

@media (min-width: $screen-md) {
  .heading {
    &.sm {
      font-size: 48px;
    }

    &.lg {
      font-size: 56px;
    }
  }
}

@media (min-width: $screen-lg) {
  .heading {
    &.sm {
      font-size: 56px;
    }

    &.lg {
      font-size: 64px;
    }
  }
}
