@import 'css/helpers';

.section {
  position: relative;
  margin-top: 72px;
}

.pin {
  top: 0;
  position: sticky;
  height: 100vh;
  width: 100%;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --perspective: 100px;

  perspective: var(--perspective);
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.top,
.bottom {
  height: 50%;
  width: 100%;
}

.top {
  transform-origin: center;
  transform: rotate(180deg);
}

.title {
  perspective: var(--perspective);
  line-height: 1;

  & > * {
    transform-style: preserve-3d;
    will-change: transform;
  }
}

.cta {
  margin-top: 16px;
  transform-style: preserve-3d;
}
