/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@import 'css/helpers';

.section {
  position: relative;
  margin-top: calc(-1 * var(--header-height));
  min-height: 100vh;
  text-align: center;

  .videoLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 32px auto;
  }

  @include respond-to('tablet') {
    min-height: unset;
  }

  .bg-container {
    isolation: isolate;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    .child {
      position: absolute;
      inset: 0;
    }

    .grid {
      display: block;

      @include respond-to('tablet') {
        display: none;
      }
    }
  }

  .first {
    position: sticky;
    top: 0;
    padding-top: calc(var(--header-height) + 48px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond-to('tablet') {
      position: relative;
      top: unset;
    }

    .announcement {
      border-radius: var(--border-radius-full);
      padding: 2px;
      background: linear-gradient(126deg, #2f2124 0%, #251419 100%);
      margin-bottom: 4px;

      @include respond-to('tablet') {
        margin-bottom: 16px;
      }

      &:hover {
        .arrowIcon {
          transform: translateX(2px);
        }
      }

      .announcementInner {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--color-pink-crayon);
        padding: 8px 16px;
        border-radius: var(--border-radius-full);
        background: linear-gradient(116.04deg, #150509 35.23%, #1c0b0f 129.14%);

        .announcementText {
          font-size: 14px;
          line-height: 18px;
        }

        .arrowIcon {
          transition: transform var(--duration-moderate) var(--ease-out-soft);
          margin-left: 8px;
        }
      }
    }

    .highlight {
      color: var(--red-400);
    }

    .subtitle {
      font-size: 17px;
      max-width: 600px;
      line-height: 24px;
    }

    .ctas {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;

      @include space-x(16px);

      @include respond-to('tablet') {
        margin-top: 32px;
      }
    }

    .hero-container {
      width: 100%;
      margin: 0;
    }

    .heading-container {
      display: flex;
      gap: 8px;
      margin-left: 48px;

      @include respond-to('tablet') {
        margin-left: 26px;
      }

      &-double {
        position: absolute;
        top: 0;

        .title-section {
          > .text-segment {
            opacity: 0.4;
            will-change: transform;
          }
        }
      }

      &:not(.heading-container-double) {
        .title-section {
          &:not(:first-child) {
            > .text-segment {
              opacity: 0;
              will-change: transform;
            }
          }
        }
      }
    }

    .title-section {
      display: block;
      position: relative;

      > span {
        display: block;
      }

      img {
        position: absolute;
        left: -48px;
        top: 26px;
        z-index: -1;

        @include respond-to('tablet') {
          width: 20px;
          height: 20px;
          left: -26px;
          top: 12px;
          z-index: 0;
        }
      }

      &:not(:first-child) {
        img {
          opacity: 0;
        }
      }
    }
  }

  .last {
    position: relative;
    margin-top: 56px;

    @include respond-to('tablet') {
      margin-top: 32px;
    }

    .outline-container {
      --padding: 8px;

      overflow: hidden;
      width: 100vw;
      max-width: 100%;
      position: absolute;
      top: calc(var(--padding) * -1);

      svg {
        width: calc(133.8% + var(--padding) * 2 + 1px * 2 /* Borders */);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }

      @include respond-to('tablet') {
        display: none;
      }
    }

    .dashboard {
      --raw-ratio: calc(2548 / 1348);
      --radius: 1%;

      position: relative;
      overflow: hidden;
      border-top-left-radius: var(--radius)
        calc(var(--radius) * var(--raw-ratio));
      border-top-right-radius: var(--radius)
        calc(var(--radius) * var(--raw-ratio));
      border-bottom-left-radius: var(--radius)
        calc(var(--radius) * var(--raw-ratio));
      border-bottom-right-radius: var(--radius)
        calc(var(--radius) * var(--raw-ratio));
      box-shadow: 0px 4px 8px -2px rgb(31 41 55 / 0.1),
        0px 2px 4px -2px rgb(31 41 55 / 0.06);

      img {
        width: 100%;
        user-select: none;
      }

      .cta {
        width: 100%;
        justify-content: center;
        position: absolute;
        display: flex;
        bottom: 10%;

        @include respond-to('tablet') {
          display: none;
        }

        svg {
          width: 12px;
          margin-left: 8px;
        }
      }
    }
  }
}

@media (hover: hover) and (pointer: fine) {
  .mask {
    --bg: black;

    opacity: 0.4;
    position: absolute;
    transition: background-image 0.5s ease-in-out;
    will-change: background-image, opacity;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    z-index: -2;
  }
}

.buttonWithLoader {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.radialProgress {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translate(-50%, -50%) rotate(-90deg); /* Adjust for the rotation */
  width: 3.3rem;
  height: 3.3rem;
  transform-origin: center;
}

.buttonText {
  margin-left: 15px;
  margin-top: 5px;
}
