.animate-pill-entrance {
  animation: animate-pill-entrance-desktop var(--animation-entrance-duration) linear forwards;
}

.animate-pill-exit {
  animation: animate-pill-exit-desktop var(--animation-exit-duration) ease forwards;
}

@keyframes animate-pill-entrance-desktop {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes animate-pill-exit-desktop {
  from {
    background-color: #f02d5e;
  }
  to {
    background-color: #f3dde3;
  }
}
