/* stylelint-disable declaration-block-no-redundant-longhand-properties */
@import 'css/helpers';

.section {
  position: relative;
}

.store-container {
  position: absolute;
  width: 100%;
  z-index: 10;

  .record {
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: var(--z-index-30);

    .bg {
      animation: record-bg 1.5s infinite;
    }

    .circle {
      animation: record-circle 1.5s infinite;
    }
  }
}

.app-container {
  position: relative;
  display: flex;
  justify-items: stretch;
  width: 100%;
  align-items: center;

  .app {
    --padding: 0px;

    display: flex;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    border-radius: 16px;
    border: 1px solid var(--color-gray-lighter);
    background: #f2f2f2;
    width: 100%;
    position: absolute;

    .header {
      --height: 70px;

      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 32px;
      background-color: white;
      height: var(--height);
      border-bottom: 1px solid var(--color-gray-lighter);

      .logo {
        width: 25px;
        color: var(--color-pink-crayon);
      }

      .users {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 32px;
        gap: 8px;
        margin-left: auto;
        margin-right: 24px;

        img {
          border-radius: var(--border-radius-full);
        }
      }
    }

    .content {
      height: var(--height);
      position: relative;
      display: flex;
      flex: 1;

      .toolbar {
        padding: 20px 26px;
      }

      .grid {
        --gap: 26px;

        position: relative;
        margin: 26px 26px 0px 0px;
        display: grid;
        width: 100%;
        grid-template-columns:
          var(--gap)
          calc(50% - var(--gap) - (var(--gap) / 2))
          auto
          calc(50% - var(--gap) - (var(--gap) / 2))
          var(--gap);
        grid-template-rows: calc(50% - (var(--gap) / 2)) calc(
            50% - (var(--gap) / 2)
          );
        align-content: space-between;
        grid-template-areas:
          'code code none store store'
          'code code none devtools devtools';
      }

      .code {
        height: 100%;
        opacity: 0;
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      padding: 24px;
      height: var(--height);

      .play-pause {
        width: 40px;

        .play,
        .pause,
        .replay {
          transform-origin: center center;
          transition: transform var(--duration-moderate) ease-out;
          opacity: 0;
          transform: scale(0.5);
        }

        &:global(.replay) .replay,
        &:global(.play) .pause,
        &:global(.pause) .play {
          opacity: 1;
          transform: scale(1);
        }
      }

      .current-time {
        background: #e6e6e6;
        border-radius: var(--border-radius-full);
        padding: 2px 12px;
        font-variant-numeric: tabular-nums;
        font-size: 12px;
      }
    }
  }
}

.marker {
  --color: #d8d8d8;

  position: relative;
  display: block;
  height: 6px;
  width: 6px;
  transition: transform var(--duration-fast) linear;

  &.hoverable:hover {
    transform: scale(1.25);
  }

  &::after {
    display: block;
    position: absolute;
    font-size: 12px;
    content: '';
    border-radius: var(--border-radius-full);
    transition: background var(--duration-fast) linear;
    background: var(--color);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
  }

  &.yellow {
    --color: #ff9a19;
  }

  &.purple {
    --color: #cc81ff;
  }

  &.green {
    --color: #69e261;
  }

  &.red {
    --color: #f41b52;
  }

  &.unicorn {
    --color: transparent;

    &::after {
      display: block;
      top: 0.1em;
      left: 0.5em;
      content: '';
      width: 20px;
      height: 20px;
      background-image: url('/images/home/unicorn.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &.transparent {
    --color: transparent;
  }
}

.panel-container {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid var(--color-gray-lighter);
}

@keyframes record-bg {
  0% {
    opacity: 0.8;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

@keyframes record-circle {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
