.card {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-2xl);
  border: 2px solid var(--color-gray-lighter);
  padding: 54px 42px;
  min-width: 400px;
  height: 100%;

  > img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 40px;
  }

  span {
    &:nth-child(2) {
      color: var(--color-pink-crayon);
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.1em;
      line-height: 143%;
      text-transform: uppercase;
    }

    &:nth-child(3) {
      font-family: var(--font-heading);
      font-size: 32px;
      line-height: 150%;
      letter-spacing: -0.04em;
      color: var(--color-gray-dark);
    }
  }

  p {
    margin-top: 16px;
    line-height: 150%;
  }

  ul {
    display: flex;
    margin-top: 32px;
  }

  li {
    &:not(:first-child) {
      margin-left: 16px;
    }
  }
}
