@import 'css/variables';

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-black);
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--color-gray-darker);
  padding: 54px 42px;
  width: 100%;

  > img {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 32px;
  }

  .position,
  .job {
    color: var(--color-pink-crayon);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 143%;
    text-transform: uppercase;
  }

  button {
    position: relative;
    color: var(--color-pink-crayon);
    display: inline-block;
    line-height: 1.05;
    width: fit-content;
    font-weight: 500;

    &:hover {
      &::after {
        left: 0;
        width: 100%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      right: 0;
      width: 0%;
      border-bottom: 1px solid var(--color-pink-crayon);
      transition: width var(--duration-fast) ease-in-out;
    }
  }

  .job {
    margin-top: 8px;
  }

  .name {
    font-family: var(--font-heading);
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.04em;
    color: white;
  }

  .bio {
    margin-top: 16px;
    line-height: 150%;
  }

  .shout {
    margin-bottom: 16px;
    line-height: 150%;
  }

  nav {
    display: flex;
    margin-top: 32px;

    & > *:not(:first-child) {
      margin-left: 16px;
    }
  }
}

@media (max-width: $screen-sm) {
  .card {
    border-radius: var(--border-radius-lg);
    padding: 24px;

    > img {
      width: 48px;
      height: 48px;
      margin-bottom: 24px;
    }

    .position,
    .job {
      font-size: 12px;
      line-height: 167%;
      max-width: 160px;
    }

    .name {
      font-size: 27px;
    }

    nav {
      display: flex;
      margin-top: 24px;
    }
  }
}
