@import 'css/variables';

.button:not(.unstyled) {
  color: var(--color-white);
  font-weight: 500;
  border-radius: var(--border-radius-md);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;

  /* Sizes */

  &.md {
    padding: 16px 32px;
  }

  &.sm {
    padding: 12px 16px;
  }

  /* Variants */

  &.primary {
    background-color: var(--color-pink-crayon);
  }

  &.secondary {
    background: var(--color-gray-darker);
  }

  &.tertiary {
    color: var(--color-gray-darker);
    background: var(--color-gray-lightest);
  }
}

@media (min-width: $screen-md) {
  .button:not(.unstyled) {
    width: auto;
  }
}
