@import 'css/variables';

.button:not(.unstyled) {
  color: var(--color-white);
  font-weight: 600;
  border-radius: var(--border-radius-md);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  min-width: 94px;
  position: relative;
  transition-property: color, border;
  transition-duration: var(--duration-fast);
  transition-timing-function: linear;

  &.rounded {
    border-radius: var(--border-radius-full);
  }

  &::before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    opacity: 0;
    transition: opacity var(--duration-fast) linear;
    border-radius: inherit;
  }

  &:not(.no-hover):hover {
    &::before {
      opacity: 1;
    }
  }

  .content {
    position: relative;
    display: inline-flex;
  }

  /* Sizes */

  &.md {
    min-height: 52px;
    padding: 16px 32px;
  }

  &.sm {
    min-height: 44px;
    padding: 12px 16px;
  }

  /* Variants */

  &.primary {
    background: var(--gradient-primary);

    &::before {
      background: var(--color-pink-light);
    }
  }

  &.secondary {
    background: var(--color-gray-darker);

    &:hover {
      color: var(--color-white);
    }

    &::before {
      background: var(--gradient-primary);
    }
  }

  &.tertiary {
    color: var(--color-gray-darker);
    background: var(--color-gray-lightest);

    &::before {
      background: var(--color-white);
    }
  }

  &.tertiary-inverted {
    color: var(--color-gray-darker);
    background: var(--color-white);

    &:hover {
      color: var(--color-white);
    }

    &::before {
      background: var(--gradient-primary);
    }
  }

  &.tertiary-inverted-alt {
    color: var(--color-gray-darker);
    background: var(--color-gray-lightest);

    &:hover {
      color: var(--color-white);
    }

    &::before {
      background: var(--gradient-primary);
    }
  }

  &:focus {
    outline: 1px solid var(--color-pink-crayon);
    outline-offset: 4px;
  }
}

@media (min-width: $screen-md) {
  .button:not(.unstyled) {
    width: auto;
  }
}
