.button {
  color: var(--color-white);
  font-weight: 500;
  border-radius: var(--border-radius-md);
  display: inline-flex;
  align-items: center;
}

/* Sizes */

.md {
  padding: 16px 32px;
}

.sm {
  padding: 12px 16px;
}

/* Variants */

.secondary {
  background: var(--color-gray-darker);
}

.tertiary {
  color: var(--color-gray-darker);
  background: var(--color-gray-light);
}
