@import 'css/variables';
@import 'css/helpers';

.section {
  margin-top: 112px;
  background: var(--gradient-primary);
}

.progress-bar-root {
  fill: none;
  stroke-linecap: round;

  --dash-array: 0;
  --max-dash-array: 0;

  .progress-bar {
    opacity: 0.2;
    stroke: var(--color-white);
  }

  .progress {
    transform: rotate(-87.9537deg);
    transform-origin: 50% 50%;
    stroke: var(--color-white);
    stroke-dasharray: var(--dash-array), var(--max-dash-array);
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  background: var(--gradient-primary);
  width: 100%;
  padding: 64px 0;
  border-radius: var(--border-radius-xl);
  color: var(--color-white);

  .pictures {
    display: flex;
    @include space-x(18px);

    .picture {
      &.active {
        .progress-bar-container {
          transform: scale(1.35);
        }
      }

      .progress-bar-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: transform var(--duration-moderate) ease-out;
        transform: scale(0.9);
      }

      position: relative;
      border-radius: var(--border-radius-full);

      img {
        position: relative;
        pointer-events: none;
        border-radius: var(--border-radius-full);
        width: 48px;
        height: 48px;
      }
    }
  }

  .quotes {
    position: relative;
    margin-top: 32px;

    .quote {
      font-size: 32px;
      font-family: var(--font-heading);
      letter-spacing: -0.04em;
      line-height: 38px;
      text-align: center;
      max-width: 840px;

      &.old {
        animation: fade-out var(--duration-moderate) ease-out forwards;
      }

      &.new {
        animation: fade-in var(--duration-moderate) ease-out forwards;
      }

      &.placeholder {
        visibility: hidden;
      }

      &:not(.placeholder) {
        --translate-y: -50%;

        top: 50%;
        opacity: 0;
        position: absolute;
        transform: translateY(var(--translate-y));
      }
    }
  }

  .identities {
    position: relative;
    margin-top: 40px;
    width: 100%;

    .identity {
      width: 100%;
      text-align: center;

      &.old {
        animation: fade-out var(--duration-moderate) ease-out forwards;
      }

      &.new {
        animation: fade-in var(--duration-moderate) ease-out forwards;
      }

      &.placeholder {
        visibility: hidden;
      }

      &:not(.placeholder) {
        top: 0;
        opacity: 0;
        position: absolute;
      }

      .identity-name {
        font-weight: 700;
      }

      .identity-position {
        margin-top: 8px;

        span {
          display: inline-block;
        }

        .company-logo {
          overflow: hidden;
          transform: translateY(2px);
        }
      }
    }
  }

  .cta {
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(50%);

    .button {
      box-shadow: 0px 4px 16px rgb(0 0 0 / 0.1);
    }
  }
}

@media (min-width: $screen-md) {
  .section {
    background: none;
  }

  .testimonials {
    padding: 112px 32px;

    .pictures {
      @include space-x(28px);

      .picture {
        img {
          width: 64px;
          height: 64px;
        }
      }
    }

    .quotes {
      .quote {
        font-size: 56px;
        line-height: 64px;
      }
    }

    .identities {
      margin-top: 48px;
    }
  }
}

/* Animations */
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(calc(0% + var(--translate-y))) rotateX(0deg);
  }

  100% {
    opacity: 0;
    transform: translateY(calc(-30% + var(--translate-y))) rotateX(-50deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(calc(30% + var(--translate-y))) rotateX(50deg);
  }

  100% {
    opacity: 1;
    transform: translateY(calc(0% + var(--translate-y))) rotateX(0deg);
  }
}
