.title {
  margin-top: 64px;
}

.accordion {
  width: 100%;
  max-width: 800px;
  margin: 48px auto;
  font-size: 22px;
  border-top: 1px solid var(--color-gray-darker);
}

.accordionButton {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
}

.accordionButton:hover {
  color: var(--color-pink-crayon);
}

.accordionButton,
.accordionContent {
  padding: 16px 0;
  font-size: 22px;
  border-bottom: 1px solid var(--color-gray-darker);
}

.accordionContent {
  font-size: 16px;
  line-height: 22px;
}

.accordionContent p {
  margin-top: 16px;
}

.accordionButtonActive {
  padding-top: 16px;
  padding-bottom: 0;
}
