.title {
  margin-top: 2rem;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 3rem;
  font-size: 14px;
}

.tabList {
  display: flex;
  overflow: hidden;
}

.tab {
  padding: 0.5rem 1rem;
  flex-grow: 1;
  text-align: center;
  color: var(--color-white);
  transition: color 0.2s;
  font-size: 24px;
}

.tab:hover {
  color: #e03b58;

  .tabList {
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    border-bottom: 5px solid purple;
  }

  .tab {
    padding: 0.5rem 1rem;
    flex-grow: 1;
    text-align: center;
    background-color: transparent;
    color: var(--color-white);
    transition: color 0.2s;
    font-size: 24px;
    border-bottom: 5px solid purple;
  }

  .tab:hover {
    color: #e03b58;
  }

  .tab[data-state='active'] {
    color: #e03b58;
  }
}

.tab[data-state='active'] {
  color: #e03b58;
  border-bottom: 5px solid #e03b58;
}

.tab[data-state='inactive'] {
  border-bottom: 5px solid transparent;
}
