.title {
  margin-top: 2rem;
}

.tabs {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-top: 3rem;
  font-size: 14px;
}

.tabList {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
}

.tab {
  padding: 0.5rem 1rem;
  flex-grow: 1;
  text-align: center;
  color: var(--color-gray-light);
  transition: background-color 0.2s;
  background-color: var(--color-gray-darker);
}

.tab:hover {
  background-color: var(--color-gray-dark);
}

.tab[data-state='active'] {
  background-color: var(--color-pink-crayon);
  color: var(--color-white);
  border: none;
}
