@import 'css/helpers';

.assetSide {
  background: linear-gradient(
    256.14deg,
    #111827 0%,
    #111826 4.7%,
    #101726 8.9%,
    #101725 12.8%,
    #101624 16.56%,
    #0f1523 20.37%,
    #0f1421 24.4%,
    #0e1420 28.83%,
    #0d121e 33.84%,
    #0c111c 39.6%,
    #0b1019 46.3%,
    #0a0e16 54.1%,
    #080c13 63.2%,
    #070a10 73.76%,
    #05070c 85.97%,
    #030407 100%
  );
  border: 1px solid rgb(31 41 55 / 0.86);
  border-right: 0;
  box-shadow: 0px 4px 8px -2px rgb(31 41 55 / 0.1),
    0px 2px 4px -2px rgb(31 41 55 / 0.06);
  border-radius: 16px 0 0 16px;
  width: 100%;
  height: 100%;
  padding: 8px 0 8px 8px;

  @include respond-to('tablet-lg') {
    padding: 4px;
    border-radius: 16px;
    border: 1px solid rgb(31 41 55 / 0.86);
    margin: 24px 0;
    height: 270px;
  }

  .assetWrapper {
    user-select: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(31 41 55 / 0.86);
    border-right: 0;
    border-radius: 8px 0 0 8px;
    position: relative;

    @include respond-to('tablet-lg') {
      border-radius: 12px;
      border: 1px solid rgb(31 41 55 / 0.86);
    }

    .assetTab {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 12px;
      border-bottom: 1px solid rgb(31 41 55 / 0.86);
      background: linear-gradient(
        269.3deg,
        rgb(31 41 55 / 0.24) 0%,
        rgb(31 41 55 / 0.0576) 100%
      );

      span {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: rgb(31 41 55 / 0.88);
      }
    }

    .assetContent {
      position: relative;
      flex: 1 0 auto;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .binaryBackground {
    position: absolute;
    width: 100%;
    height: 100%;
    mask: radial-gradient(
      circle at 50% 50%,
      black 0%,
      rgb(0 0 0 / 0.05) 65%,
      transparent 100%
    );

    .text {
      color: var(--grey-600);
      font-size: 16px;
      line-height: 24px;
      font-weight: 500;
      overflow-wrap: break-word;
      white-space: wrap;
      opacity: 0.6;

      @include respond-to('tablet') {
        font-size: 14px;
        line-height: 18px;
      }

      .highlight {
        animation-timing-function: var(--ease-spring);
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-name: error-text;
      }
    }
  }

  .debugging {
    overflow: hidden;
    mask-image: linear-gradient(
      to left,
      rgb(0 0 0 / 0) 0%,
      var(--white),
      rgb(0 0 0 / 0) 100%
    );

    .marquee {
      position: absolute;

      .iconWrapper {
        width: 64px;
        height: 64px;
        background: linear-gradient(
          180deg,
          rgb(0 0 0 / 0.7744) 0%,
          rgb(0 0 0 / 0.2112) 100%
        );
        box-shadow: inset 0px 0px 2px rgb(125 125 125 / 0.25);
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(31 41 55 / 0.6);
        margin: 0 8px;
        user-select: none;

        @include respond-to('tablet') {
          width: 54px;
          height: 54px;
        }

        & .icon {
          width: 32px;
          height: 32px;
          color: var(--grey-400);
        }
      }
    }

    .binaryIconsMarquee {
      // hide the left half of the icons
      clip-path: inset(0 50% 0 0);
    }

    .iconsMarquee {
      // hide the right half of the icons
      clip-path: inset(0 0 0 50%);
    }

    .devider {
      position: absolute;
      width: 3px;
      height: 65%;
      background: linear-gradient(
        180deg,
        rgb(217 217 217 / 0) 0%,
        #d9d9d9 48.44%,
        rgb(217 217 217 / 0) 100%
      );

      &::before {
        content: '';
        position: absolute;
        width: 3px;
        height: 110%;
        background: linear-gradient(
          180deg,
          rgb(217 217 217 / 0) 0%,
          #d9d9d9 48.44%,
          rgb(217 217 217 / 0) 100%
        );
        filter: blur(3px);
        animation: light-vibration 2s infinite;
      }
    }
  }

  .recordRuntime {
    flex-direction: column;
    gap: 12px;

    .illustration {
      margin-top: -48px;
      position: relative;
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content: center;

      .skateboard {
        position: absolute;
        animation: skateboard 2s infinite;
        transform-origin: center;
        z-index: 1;
        height: 75px;
        width: auto;

        @include respond-to('tablet') {
          height: 56px;
        }
      }

      .skateboardShadow {
        position: absolute;
        margin-top: 32px;
        animation: skateboard-shadow 2s infinite;
        transform-origin: center;
        height: 75px;
        width: auto;

        @include respond-to('tablet') {
          height: 56px;
        }
      }
    }

    .timeline {
      width: clamp(160px, 50%, 400px);
    }
  }

  .RecordRandomness {
    position: relative;

    .playerButton {
      position: relative;
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      border-radius: 9999px;
      background: linear-gradient(57.77deg, #f41c52 18.3%, #ff537e 96.38%);

      @include respond-to('tablet') {
        width: 60px;
        height: 60px;
      }

      &::before {
        content: '';
        z-index: -1;
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 9999px;
        background: linear-gradient(57.77deg, #f41c52 18.3%, #ff537e 96.38%);
        animation: radar 1.5s infinite;
      }

      .playState {
        border-top: 16px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 24px solid var(--color-white);
        margin-left: 8px;
      }
    }
  }
}

@keyframes light-vibration {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(1px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes radar {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes skateboard {
  0% {
    transform: translateX(0, 0);
  }

  50% {
    transform: translate(0px, 10px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes skateboard-shadow {
  0% {
    transform: translate(0, 14px) scale(1);
    filter: brightness(0.5);
  }

  50% {
    transform: translate(8px, 10px) scale(1.15);
    filter: brightness(0.8);
  }

  100% {
    transform: translate(0, 14px) scale(1);
    filter: brightness(0.5);
  }
}

@keyframes error-text {
  0% {
    color: var(--grey-600);
  }

  50% {
    color: var(--color-pink-crayon);
    text-shadow: 0px 0px 4px var(--color-pink-crayon);
  }

  100% {
    color: var(--grey-600);
  }
}
