@import 'css/variables';

.overlay {
  display: flex;
  place-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgb(255 255 255 / 0.7);
  animation: fadein var(--duration-moderate) ease-in-out;
}

.content {
  position: fixed;
  left: 50%;
  bottom: 50%;
  width: 568px;
  // height: fit-content;
  transform: translateX(-50%) translateY(50%);
  animation: fadein var(--duration-moderate) ease-in-out;
  outline: none;
}

@media (max-width: $screen-sm) {
  .content {
    width: 90vw;
    // height: fit-content;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
