.code-panel {
  position: relative;
  display: flex;
  flex-direction: column;

  .code {
    color: #727272;

    .code-line {
      position: relative;
      display: flex;
      align-items: center;
      line-height: 15px !important;
      font-size: 14px !important;
      font-family: var(--font-mono);
      max-height: 17px;

      pre {
        padding-left: 6px;

        code {
          white-space: pre-wrap;
        }
      }
    }

    :global {
      .reserved {
        color: #dd00a9;
      }

      .declaration {
        color: #000;
      }

      .variable {
        color: #3172e0;
      }

      .function {
        color: #8000d7;
      }

      .symbol {
        color: #000;
      }

      .string {
        color: #5ca939;
      }
    }
  }

  .add-print {
    opacity: 0;
    border-radius: 6px;
    background: #05acfd;
    position: absolute;
    display: flex;
    place-content: center;
    height: 18px;
    width: 18px;
    color: white;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    line-height: 17px;
    font-weight: 600;

    &::after {
      content: '+';
      position: absolute;
      background: #05acfd;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all var(--duration-fast) ease-out;
    }

    &:global(.active) {
      &::after {
        content: '-';
      }
    }
  }

  .print-panel {
    width: 100%;
    position: absolute;
    opacity: 0;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: -8px;

    .markers {
      position: relative;
      border-radius: var(--border-radius-full);
      background: #f0f0f0;
      padding: 6px;
      display: flex;
      transition: transform var(--duration-fast) ease-out;
      transform-origin: center center;

      &:hover,
      &:global(.active) {
        transform: scale(1.2);

        .toggle::after {
          --background: #d8d8d8;

          height: 2px;
          width: 9px;
        }

        .markers-container {
          pointer-events: all;
          transform: translateX(0px);
          opacity: 1;

          [data-marker='unicorn'] {
            &::after {
              width: 14px;
              left: 3px;
              top: 4px;
            }
          }
        }
      }

      .toggle {
        --background: #d8d8d8;

        position: relative;
        display: inline-block;
        height: 6px;
        width: 6px;

        &::after {
          content: '';
          border-radius: var(--border-radius-full);
          position: absolute;
          background: var(--background);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: all var(--duration-fast) ease-out;
          height: 6px;
          width: 6px;
        }
      }

      .markers-container {
        transition-property: opacity, transform;
        transition-duration: var(--duration-fast);
        transition-timing-function: ease-out;
        transform: translateX(-10px);
        border-radius: 0 var(--border-radius-full) var(--border-radius-full) 0;
        top: 0;
        padding: 6px;
        padding-left: 0;
        margin-left: 6px;
        opacity: 0;
        background: #f0f0f0;
        position: absolute;
        display: flex;
        z-index: 0;
        pointer-events: none;

        .marker {
          margin-left: 8px;
        }
      }
    }

    .hit-counter {
      --background: #e5e5e5;
      --color: var(--color-gray);

      transition: background var(--duration-fast) linear;
      background: var(--background);
      border-radius: var(--border-radius-full);
      font-size: 10px;
      display: inline-flex;
      width: 44px;
      height: 16px;
      color: var(--color);
      justify-content: center;
      font-variant-numeric: tabular-num;
    }

    .markers .toggle,
    .hit-counter {
      --color-dark: var(--color-gray);
      --color-light: var(--color-white);

      &.yellow {
        --background: #ff9a19;
        --color: var(--color-light);
      }

      &.purple {
        --background: #cc81ff;
        --color: var(--color-light);
      }

      &.green {
        --background: #69e261;
        --color: var(--color-dark);
      }

      &.red {
        --background: #f41b52;
        --color: var(--color-light);
      }

      &.unicorn {
        --background: #e110b3;
        --color: var(--color-light);
      }
    }
  }
}
