@import '~/css/helpers';

.header {
  font-size: 30px !important;

  @media (max-width: 900px) {
    font-size: 24px !important;
  }
}

.timeTravelHero {
  margin-top: 30px;
}

.timeTravelHero a {
  text-decoration: underline;
  font-size: 16px;
}

.timeTravelHero a:hover {
  color: #f41c52;
}

.timeTravelText {
  max-width: 440px;
  margin-bottom: 30px;
  display: block;

  @media (max-width: 900px) {
    padding: 0 32px 32px;
    border-bottom: 1px solid #1b1f26;
  }
}

.componentWrapper {
  justify-content: center;
  max-width: 1000px;
  border-top: 2px solid #1b1f26;
  border-bottom: 2px solid #1b1f26;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 900px) {
    margin: 0 0 20px;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 40px;

  @media (max-width: 900px) {
    flex-direction: column;
    padding-bottom: 10px;
  }
}

.valueProp {
  flex: 0 48%;
  font-size: 16px;
  padding: 30px;
  margin-bottom: 20px;
  max-width: 440px;

  @media (max-width: 900px) {
    flex: 0 100%;
    font-size: 16px;
    padding: 0;
    max-width: 100%;
    padding: 0 32px;
  }
}

.valueProp a:hover {
  color: #f41c52;
}
