.section {
  display: block;
}

.section-heading {
  .subtitle {
    max-width: 620px;
    margin-top: 24px;

    &.centered {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
