@import 'css/helpers';

.debugger {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  color: #7c7c7c;

  .header {
    padding: 0 4px;

    @include space-x(12px);

    .button {
      height: 28px;
      width: 28px;
      border-radius: var(--border-radius-md);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #868686;

      &:disabled {
        opacity: 0.5;
      }

      &:not(:disabled):hover {
        background-color: var(--color-gray-light);
        color: var(--color-gray-lightest);
      }
    }

    .button-group {
      display: flex;

      @include space-x(4px);
    }
  }

  .stack-line {
    padding: 0 8px;

    &.current {
      color: #03a2fd;
    }

    &.active {
      background: #01acfd;
      color: var(--color-white);
    }
  }

  .variables {
    padding: 0 8px;
  }

  .data {
    padding: 16px 0;
    min-height: 240px;

    @include space-y(12px);
  }
}

.section {
  .title {
    padding: 0 8px;
    display: flex;
    align-items: center;

    @include space-x(6px);
  }
}
