@import 'css/variables';

.section {
  padding: 120px 0 24px;
  margin-top: 200px;
  background: linear-gradient(
    180deg,
    #f5f5f5 0%,
    #f5f5f5 45.25%,
    rgb(255 255 255 / 0) 100%
  );

  .container {
    > div:first-child {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
    }

    .work-item {
      display: flex;
      flex-direction: column;
      border: 2px solid var(--color-gray-lighter);
      border-radius: var(--border-radius-2xl);
      background-color: var(--color-white);
      padding: 54px 40px;
      min-height: 520px;

      > span:nth-child(2) {
        font-family: var(--font-heading);
        font-size: 40px;
        letter-spacing: -0.04em;
        line-height: 120%;
        margin: 24px 0 16px;
      }

      p {
        line-height: 150%;
        margin-bottom: 40px;
      }

      button {
        margin-top: auto;
        width: fit-content;
      }
    }

    .work-item-jobs {
      display: grid;
      scroll-margin-top: 32px;
      grid-template-columns: 1fr 1fr;
      border: 2px solid var(--color-gray-lighter);
      border-radius: var(--border-radius-2xl);
      background-color: var(--color-white);
      margin-top: 40px;
      padding: 54px 40px;

      div:first-child {
        padding-right: 60px;

        img {
          margin-bottom: 24px;
        }

        > span:nth-child(2) {
          font-family: var(--font-heading);
          font-size: 40px;
          letter-spacing: -0.04em;
          line-height: 120%;
        }

        p {
          line-height: 150%;
          margin-top: 16px;
          margin-bottom: 40px;
        }
      }

      div:nth-child(2) {
        align-self: center;

        ul {
          flex-direction: column;

          li {
            position: relative;
            font-size: 16px;
            line-height: 138%;

            a {
              padding-top: 24px;
              padding-bottom: 24px;
              width: 100%;
              height: 100%;
              display: grid;
              grid-template-columns: 1fr 1fr;
            }

            &:not(:first-child) {
              cursor: pointer;

              &:hover {
                span:first-child {
                  color: var(--color-pink-crayon);
                }

                img {
                  transform: rotate(45deg);
                }
              }
            }

            &:not(:last-child) {
              border-bottom: 1px solid var(--color-gray-lighter);
            }

            span:first-child {
              font-weight: 600;
              padding-right: 20px;
              transition: color var(--duration-fast) ease-in-out;
            }

            &:first-child {
              display: grid;
              grid-template-columns: 1fr 1fr;
              color: #828282;
              font-weight: 600;
              font-size: 14px;
              letter-spacing: 0.1em;
              line-height: 143%;
              padding-bottom: 16px;
              text-transform: uppercase;
              border-bottom: 2px solid var(--color-gray-lighter);
            }

            img {
              position: absolute;
              right: 0;
              bottom: 0;
              top: 0;
              margin: auto;
              transition: transform var(--duration-fast) ease-in-out;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $screen-lg) {
  .section {
    .container {
      > div:first-child {
        display: flex;
        flex-direction: column;

        p {
          max-width: 480px;
        }
      }

      .work-item {
        min-height: unset;
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .section {
    padding: 48px 0;
    margin-top: 112px;

    .container {
      > div:first-child {
        display: flex;
        flex-direction: column;

        p {
          max-width: unset;
        }

        button {
          width: 100%;
        }

        img {
          width: 48px;
          height: 48px;
        }

        .work-item {
          border-radius: var(--border-radius-lg);
          padding: 24px;

          > span:nth-child(2) {
            font-size: 32px;
            line-height: 150%;
          }

          p {
            margin-bottom: 24px;
          }
        }
      }

      > div:nth-child(2) {
        display: flex;
        flex-direction: column;

        button {
          width: 100%;
        }
      }

      .work-item-jobs {
        border-radius: var(--border-radius-lg);
        grid-template-columns: 1fr;
        padding: 24px;

        div:first-child {
          padding: 0;

          > img {
            width: 48px;
            height: 48px;
          }

          > span:nth-child(2) {
            font-size: 32px;
            line-height: 150%;
          }

          p {
            margin-bottom: 24px;
          }
        }

        div:nth-child(2) {
          width: 100%;

          ul {
            li {
              a {
                grid-template-columns: 1fr;
              }

              > span:nth-child(2) {
                margin-top: 8px;
              }

              &:first-child {
                padding-top: 40px;

                span:nth-child(2) {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
