@import 'css/variables';

.section {
  margin-top: 112px;

  .subtitle-link {
    text-decoration: underline;
  }

  .asset-player {
    margin-top: 36px;

    .progress-chunks {
      max-width: 100%;
      overflow: auto;
      display: grid;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      gap: 0 40px;
      padding: 26px 12px;
    }

    .progress {
      width: 100%;
      margin-top: 6px;
      border-radius: var(--border-radius-full);
    }

    .asset {
      margin-top: 72px;
      overflow: hidden;
      border-radius: var(--border-radius-xl);
    }
  }
}

.asset-chunk {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: $screen-md) {
  .section {
    .asset-player {
      margin-top: 80px;
    }
  }
}
