@import 'css/variables';

.section {
  margin-top: 112px;

  .subtitle-link {
    text-decoration: underline;
  }

  .head {
    overflow: auto;
    max-width: 100%;

    .container {
      min-width: min-content;
    }
  }

  .epigraph-container {
    position: relative;

    .epigraph {
      display: block;
      margin-top: 57px;
      text-align: center;
      font-style: italic;
      color: var(--color-gray-almost-light-but-not-really);
      transition: opacity var(--duration-moderate) ease-in-out;

      &.placeholder {
        visibility: hidden;
      }

      &:not(.placeholder) {
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 100%;
        vertical-align: center;
        position: absolute;
        display: flex;
        align-items: center;
        place-content: center;
      }
    }
  }

  .asset-player {
    margin-top: 36px;
    width: 100%;

    > div {
      position: relative;
    }

    .progress {
      width: 100%;
      margin-top: 6px;
      border-radius: var(--border-radius-full);
    }

    .asset {
      width: 100%;
      padding: 18px;
      margin-top: 57px;
      overflow: hidden;
      border-radius: var(--border-radius-xl);
      background: var(--color-gray-lightest);
      display: grid;
      align-items: center;
      gap: 32px;
      min-height: 480px;
      pointer-events: none;

      & > *:nth-child(2n + 1) {
        grid-row: 1;
        grid-column: 1;

        --delay: 0s;
      }

      & > *:nth-child(2n) {
        grid-row: 2;
        grid-column: 1;

        --delay: 50ms;
      }

      .popup {
        position: absolute;
        display: none;
        opacity: 0;
        max-width: 310px;
        top: -16px;
        left: 0px;
        transition-property: opacity, transform;
        transition-duration: var(--duration-moderate);
        transition-timing-function: var(--ease-spring);
        transform: translateY(-90%) scale(0.95);
        z-index: var(--z-index-10);
        pointer-events: none;

        &.open {
          opacity: 1;
          transform: translateY(-100%) scale(1);
        }

        > div {
          display: flex;

          p {
            font-weight: 700;
            letter-spacing: 0.02em;
            margin-left: 6px;
          }
        }

        p {
          color: var(--color-white);
          line-height: 143%;
        }
      }
    }
  }
}

.progress-chunks {
  display: grid;
  grid-auto-columns: minmax(max-content, 1fr);
  grid-auto-flow: column;
  gap: 0 40px;

  .asset-chunk {
    padding: 26px 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .chunk-marker-anchor {
      position: absolute;
      display: inline-block;
      left: 0;
      bottom: 0;
    }
  }
}

.animated-panel {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  &:nth-child(2n) {
    align-items: center;
  }

  &.show {
    opacity: 0;
    animation: fade-in var(--duration-moderate) ease-out forwards;
    animation-delay: var(--delay);
    z-index: var(--z-index-10);
  }

  &.hide {
    opacity: 1;
    animation: fade-out var(--duration-moderate) ease-out forwards;
    animation-delay: var(--delay);
    z-index: 0;
  }
}

@media (min-width: $screen-md) {
  .animated-panel {
    overflow: visible;
    height: auto;
  }

  .section {
    .epigraph {
      font-size: 16px;
    }

    .asset-player {
      margin-top: 80px;

      .asset {
        overflow: visible;
        grid-template-columns: minmax(320px, 45%) minmax(320px, 45%);
        gap: 24px;
        justify-content: center;
        pointer-events: unset;

        & > *:nth-child(2n + 1) {
          grid-row: 1;
          grid-column: 1;
        }

        & > *:nth-child(2n) {
          grid-row: 1;
          grid-column: 2;
        }

        .popup {
          display: unset;
        }
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .section {
    margin-top: 200px;

    .asset-player {
      .asset {
        gap: 48px;
      }
    }
  }
}

/* Animations */
@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-40px) scale(0.95);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(1);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
