@import 'css/variables';
@import 'css/helpers';

:global(.hide-header) {
  .header {
    opacity: 0;
    pointer-events: none;
  }
}

:global(.has-scrollytelling) {
  .header {
    position: relative;

    &:global(.sticky) {
      position: sticky;
    }

    &.has-scrolled {
      border-color: transparent;
    }
  }
}

:global(.sticky-header) {
  .header {
    position: sticky;
  }
}

.header {
  position: sticky;
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--color-white);
  z-index: var(--z-index-50);
  height: var(--header-height);
  border-bottom: 1px solid transparent;
  transition-property: border-color, opacity;
  transition-duration: var(--duration-fast);
  transition-timing-function: linear;
  top: 0;

  &.has-scrolled {
    border-color: var(--color-gray-lighter);
  }

  .inner-mobile {
    height: 100%;
    width: 100%;

    .mobile-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .burger {
        font-size: 0;
      }
    }

    .menu {
      --shadow-opacity: 0;

      overflow: hidden;
      padding-top: var(--header-height);
      position: absolute;
      z-index: -1;
      left: 0;
      right: 0;
      top: -1px;
      width: 100%;
      background: var(--color-white);
      border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
      box-shadow: 0px 10px 14px -6px rgb(0 0 0 / var(--shadow-opacity)),
        0px 10px 32px -4px rgb(0 0 0 / var(--shadow-opacity));
      will-change: height;
      backface-visibility: hidden;

      .menu-inner {
        opacity: 0;
        height: 0;
        margin: 0;
        will-change: height;
        backface-visibility: hidden;
        @include space-y(28px);
      }

      li .nav-link {
        display: flex;
        align-items: center;
        padding: 12px 14px;
        margin: 0 -8px;
        font-weight: 500;
        border-radius: 8px;
        background: var(--color-transparent);
        transition: background var(--duration-fast) ease-in;

        &:hover,
        &:focus,
        &.active {
          background: var(--color-gray-lightest);
        }

        .icon {
          color: var(--colors-gray-dark);
          display: inline-block;
          font-size: 0;
          vertical-align: top;
          margin-right: 8px;
        }
      }
    }
  }

  .inner-desktop {
    display: none;
    justify-content: space-between;
    align-items: center;

    .nav {
      ul {
        display: flex;
        justify-content: center;
        @include space-x(2px);

        li .nav-link {
          padding: 12px 16px;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;
          border-radius: 8px;
          background: var(--color-transparent);
          transition: background var(--duration-fast) ease-in;

          &:hover,
          &:focus,
          &.active {
            background: var(--color-gray-lightest);
          }

          .icon {
            color: var(--colors-gray-dark);
            display: inline-block;
            font-size: 0;
            vertical-align: top;
            margin-right: 8px;
          }
        }
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .header {
    height: auto;
    padding: 16px 0;
    min-height: var(--header-height);

    .inner-mobile {
      display: none;
    }

    .inner-desktop {
      display: flex;
    }

    .nav {
      ul {
        @include space-x(2px);
      }
    }
  }
}
