@import '~/css/helpers';

:global(.hide-header) {
  .header {
    transform: translateY(-100%);
    pointer-events: none;
  }
}

.headerLink-6 {
  background-color: var(--color-pink-crayon);
  color: #fff;
  border-radius: 8px;
  font-weight: bold;
}

.header {
  height: var(--header-height);
  padding: 0 var(--container-sides-space);
  top: 0;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: var(--header-z-index);
  transition: background 0.3s var(--ease-1), transform 0.3s var(--ease-1),
    opacity 0.3s var(--ease-out-soft);
  backdrop-filter: blur(12px);

  &::after {
    content: '';
    position: fixed;
    left: 0;
    top: var(--header-height);
    width: 100%;
    height: 1px;
    opacity: 0;
    transform: translateY(10px);
    background: linear-gradient(
      90deg,
      rgb(17 24 39 / 0.12) 0%,
      #111827 51.56%,
      rgb(17 24 39 / 0.12) 100%
    );
    transition-property: opacity, transform, background;
    transition-duration: 0.3s;
    transition-timing-function: var(--ease-1);
  }

  &.scrolled {
    background: rgb(0 0 0 / 0.75);

    &::after {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.menuIsOpen {
    background: unset !important;

    &::after {
      width: 100%;
      opacity: 1;
      background: rgb(31 41 55 / 0.86);
      transform: translateY(0);
    }
  }

  &.navigationSitemapShowing {
    &::after {
      width: 100%;
      opacity: 1;
      background: rgb(31 41 55 / 0.86);
    }
  }

  .logo {
    width: 93px;
    height: 28px;
    position: relative;

    @include respond-to('tablet-lg') {
      width: 80px;
      height: 24px;
    }

    img {
      height: 100%;
      width: 100%;
    }
  }

  .rightSideCtasWrapper {
    @include respond-to('min-tablet-lg') {
      .burgerButton {
        display: none;
      }
    }

    .ctas {
      display: flex;
      align-items: stretch;
      gap: 8px;

      @include respond-to('tablet-lg') {
        display: none;
      }

      a {
        display: flex;
        align-items: center;

        &:first-child {
          padding: 0 16px;
        }
      }
    }
  }
}
