@import 'css/helpers';

.comment {
  --line-height: 1.4;
  --margin-to-icon: 8px;
  --padding: 16px;

  position: absolute;
  font-family: var(--font-body);
  overflow: hidden;
  background: var(--color-white);
  width: max-content;
  width: 330px;
  border: 1px solid var(--color-gray-light);
  border-radius: var(--border-radius-lg);
  opacity: 0;
  font-size: 16px;
  line-height: var(--line-height);
  z-index: var(--z-index-20);
  color: var(--color-gray-darker);

  &.bottom-right {
    margin-top: var(--margin-to-icon);
    left: 0;
  }

  &.side-left {
    margin-right: var(--margin-to-icon);
    right: 100%;
    top: 0;
  }

  .content {
    overflow: hidden;

    .divisor {
      height: 1px;
      width: 100%;
      background: var(--color-gray-lighter);
    }

    .content-inner {
      padding: var(--padding);

      .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        @include space-x(12px);

        .picture {
          border-radius: var(--border-radius-full);
          width: 44px;
        }

        .name {
          font-weight: 600;
        }

        .date {
          line-height: 1;
          margin-top: 4px;
          font-size: 14px;
          color: var(--color-gray-light);
        }
      }

      .text {
        margin-top: 12px;
      }
    }
  }

  .input {
    box-sizing: content-box;
    padding: var(--padding);
    color: var(--color-gray-light);
    min-height: calc(16px * var(--line-height));
  }
}
