@import 'css/variables';

.section {
  position: relative;
  margin-top: 60px;
  margin-bottom: 112px;

  .container {
    display: flex;
    place-content: center;

    .bg {
      z-index: -1;
      position: absolute;
      top: 190%;
      width: 3050px;
      transform: translateY(-50%) translateX(180px);
      overflow: visible;
      mask-image: linear-gradient(
        to right,
        rgb(255 255 255 / 0) 18%,
        rgb(255 255 255 / 1) 20%
      );
    }

    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h1 {
        margin-bottom: 24px;
      }

      .highlighted {
        color: var(--color-pink-crayon);
      }

      > span {
        max-width: 620px;
      }
    }
  }
}

@media (max-width: $screen-md) {
  .section {
    margin-top: 32px;
    margin-bottom: 64px;

    .container {
      .bg {
        display: none;
      }
    }
  }
}
