@import 'css/helpers';

.modalOverlay {
  background-color: rgb(0 0 0 / 0.5);
  backdrop-filter: blur(8px);
  position: fixed;
  cursor: pointer;
  z-index: 999;
  inset: 0;
  animation: overlay-show 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.modalContent {
  --raw-ratio: 16 / 9;

  box-shadow: hsl(206deg 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206deg 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-radius: 24px;
  animation: content-show 850ms cubic-bezier(0.16, 1, 0.3, 1);

  & .video {
    cursor: pointer;
    border-radius: 24px;
    width: 90vw;
    max-width: calc(95vh * var(--raw-ratio));
    object-fit: contain;
    box-shadow: 0px 4px 8px -2px rgb(31 41 55 / 0.1),
      0px 2px 4px -2px rgb(31 41 55 / 0.06);
    border: 1px solid rgb(31 41 55 / 0.86);

    @include respond-to('tablet') {
      border-radius: 12px;
      width: calc(100vw - var(--container-sides-space));
    }
  }
}

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes content-show {
  from {
    opacity: 0;
    transform: translate(-50%, -38%) scale(0.96);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
