@import 'css/variables';
@import 'css/helpers';

.section {
  overflow: hidden;

  .container {
    position: relative;
  }

  .illustration {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    transform: translate(500px, -25px);

    .marker {
      position: absolute;
      right: 815px;
      top: 318px;
      z-index: var(--z-index-10);
    }

    svg {
      position: absolute;
      right: 0;
    }
  }

  .hero {
    position: relative;
    padding-top: 32px;
    padding-bottom: 112px;

    .heading {
      .title {
        max-width: 405px;
      }

      .heading-highlight {
        color: var(--color-pink-crayon);
      }

      .cta {
        margin-top: 56px;
      }
    }
  }
}

@media (min-width: $screen-md) {
  .section {
    .illustration {
      transform: translate(440px, 0);
    }

    .hero {
      padding-top: 60px;

      .heading {
        .title {
          max-width: 710px;
        }
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .section {
    .illustration {
      transform: translate(280px, 0);
    }

    .hero {
      .heading {
        .title {
          max-width: 810px;
        }
      }
    }
  }
}

@keyframes radar {
  0% {
    transform: matrix(1, 0, 0, 1, var(--x), var(--y));
    opacity: 0;
  }

  40% {
    opacity: 0.4;
  }

  100% {
    transform: matrix(2, 0, 0, 2, var(--x), var(--y));
    opacity: 0;
  }
}
