@import 'css/helpers';

.section {
  padding: 168px 0 216px;

  @include respond-to('tablet-lg') {
    padding: 80px 0;
  }
}

.container {
  @include respond-to('tablet-lg') {
    width: 100%;
    padding: 0;
  }
}

.root {
  overflow: hidden;
  padding: 40px 0;
  background: linear-gradient(
    256.14deg,
    #111827 0%,
    #111826 4.7%,
    #101726 8.9%,
    #101725 12.8%,
    #101624 16.56%,
    #0f1523 20.37%,
    #0f1421 24.4%,
    #0e1420 28.83%,
    #0d121e 33.84%,
    #0c111c 39.6%,
    #0b1019 46.3%,
    #0a0e16 54.1%,
    #080c13 63.2%,
    #070a10 73.76%,
    #05070c 85.97%,
    #030407 100%
  );
  height: 450px;
  border: 1px solid rgb(31 41 55 / 0.86);
  box-shadow: 0px 4px 8px -2px rgb(31 41 55 / 0.1),
    0px 2px 4px -2px rgb(31 41 55 / 0.06);
  border-radius: 24px;
  display: flex;
  flex-direction: column;

  @include respond-to('tablet-lg') {
    border-right: unset;
    border-left: unset;
    border-radius: 0;
  }

  @include respond-to('tablet') {
    padding: 24px 0;
    height: 430px;
  }

  .organizations-wrapper {
    width: 100%;
    mask: linear-gradient(
      90deg,
      rgb(0 0 0 / 0) 0%,
      rgb(0 0 0 / 1) 50%,
      rgb(0 0 0 / 0) 100%
    );
  }

  .organization {
    --border-radius: 12px;

    /* Timer variables */
    --progress: 0;
    --gradient-opacity: 0;
    --gradient-grow: 0;
    --inv-gradient-opacity: calc(1 - var(--gradient-opacity));
    --gradient-spread-angle: 30deg;
    --gradient-complete-angle: calc(var(--progress) * 360deg);

    /*
      White color darkened by a 30%, we don't use opacity to prevent
      color overlapping on the edges of the gradient
    */
    --primary-color: #bdbec1;
    --secondary-color-rgb: 30 40 54;

    position: relative;
    isolation: isolate;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    width: 100%;
    aspect-ratio: 1;

    &.active {
      .logo {
        color: #fff;
      }
    }

    &::before {
      content: '';
      position: absolute;
      left: 1px;
      top: 1px;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      border-radius: calc(var(--border-radius) - 1px);
      background: radial-gradient(
          88.75% 52.94% at 50% 47.06%,
          #1f2937 38.54%,
          rgb(31 41 55 / 0.24) 100%
        )
        #111827;
    }

    .logo {
      position: relative;
      z-index: 1;
      color: var(--grey-400);
      transition: color 0.5s ease-out;
      width: 48px;

      @include respond-to('tablet') {
        width: 32px;
      }

      svg {
        width: 100%;
      }
    }

    /*
      Overlay gradient, controls the opacity, we need it bc otherwise the
      two bottom gradients will blend together when opacity != 1
    */
    background: linear-gradient(
        0deg,
        rgb(var(--secondary-color-rgb) / var(--inv-gradient-opacity)),
        rgb(var(--secondary-color-rgb) / var(--inv-gradient-opacity))
      ),
      /* This is the gradient that moves */
        conic-gradient(
          from 0deg at 50% 50%,
          var(--primary-color) 0deg,
          var(--primary-color) calc(var(--gradient-complete-angle)),
          transparent
            calc(
              var(--gradient-complete-angle) + var(--gradient-spread-angle) *
                var(--gradient-grow)
            )
        ),
      /* This is a gradient that gives the spread effect at the end (360 deg) */
        conic-gradient(
          from 0deg at 50% 50%,
          transparent 0deg,
          transparent
            calc(360deg - var(--gradient-spread-angle) * var(--gradient-grow)),
          var(--primary-color) 360deg
        ),
      /* This is the background, that's why it's the last */
        rgb(var(--secondary-color-rgb));
  }

  .inner-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .quote {
    background: #111827;
    border-radius: 20px;
    padding: 16px;
    max-width: 680px;
    margin: auto 0;

    @include respond-to('tablet') {
      max-width: 400px;
    }
  }

  .author {
    display: flex;
    align-items: center;

    .image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .badge {
      width: 16px;
      height: 18px;
      margin-left: -10px;
      margin-top: 30px;
      filter: grayscale(60%);
    }

    .info {
      margin-left: 16px;

      .name {
        font-size: 16px;
      }

      .title {
        font-size: 14px;
        color: #9ca3af;
      }

      @include respond-to('tablet') {
        margin-left: 12px;

        .name {
          font-size: 14px;
        }

        .title {
          font-size: 12px;
        }
      }
    }
  }

  .all-testimonials {
    max-width: max-content;
    margin-top: 32px;

    .radio-buttons {
      @include space-x(8px);
    }

    @include respond-to('tablet') {
      margin-top: 24px;
    }
  }
}

.embla {
  --slide-spacing: 24px;
  --slide-size: 90px;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  @include respond-to('tablet') {
    --slide-spacing: 12px;
    --slide-size: 56px;
  }
}

.embla-viewport {
  overflow: hidden;
}

.embla-container {
  will-change: transform;
  backface-visibility: hidden;
  display: flex;
  flex-direction: row;
  height: auto;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla-slide {
  box-sizing: content-box;
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
