@import './variables';
@import './helpers';
@import './reset.css';
@import './inter.css';
@import './roobert.css';

:root {
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  --font-body: 'Inter', var(--font-system), sans-serif;
  --font-heading: 'Roobert', var(--font-system);
  --inspect-color: #f00;
  --header-height: 56px;

  /* Colors */
  --color-transparent: transparent;
  --color-pink-crayon: #f41c52;
  --color-white: #fff;
  --color-gray-lightest: #f5f5f5;
  --color-gray-lighter: #dcdcdc;
  --color-gray-light: #bebebe;
  --color-gray: #505050;
  --color-gray-dark: #464646;
  --color-gray-darker: #323232;

  /* Gradients */
  --gradient-primary: linear-gradient(
    116.04deg,
    #f41c52 35.23%,
    #ff537e 129.14%
  );

  /* Durations */
  --duration-fast: 0.15s;
  --duration-moderate: 0.25s;

  /* Border Radius */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;
  --border-radius-2xl: 32px;
  --border-radius-3xl: 56px;
  --border-radius-full: 9999px;

  /* Z Index */
  --z-index-min-1: -1;
  --z-index-0: 0;
  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-30: 30;
  --z-index-40: 40;
  --z-index-50: 50;
}

html {
  line-height: 1.5;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--header-height) + 30px);

  // tweak if site is light mode.
  background-color: var(--color-white);
  color: var(--color-gray-darker);
}

body {
  font-family: var(--font-body);
  transition: opacity #{$duration / 3 + 's'} ease-in;
}

body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

// WARNING: if you don't want to use a fade in for the body, you can remove
// this chunk of CSS. But ALSO make sure you remove the style tag in the body in _document.tsx
// and the transition property on the body as well. thx.
html.fonts-loaded body {
  opacity: 1 !important;
}
// end warning

@media (min-width: $screen-lg) {
  :root {
    --header-height: 76px;
  }
}
