@import url('@replayio/overboard/index.css');
@import './variables';
@import './helpers';
@import './reset.css';
@import './inter.css';
@import './roboto.css';

:root {
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  // --font-body: 'Inter', var(--font-system), sans-serif;
  // --font-heading: 'Roobert', var(--font-system);
  // --font-mono: 'Roboto Mono', var(--font-system);

  --font-body: var(--font-inter), var(--font-system), sans-serif;
  --font-heading: var(--font-roobert), var(--font-system), sans-serif;
  --font-editor: var(--font-roboto-mono), var(--font-system), sans-serif;

  /* Colors */
  --inspect-color: #f00;
  --color-transparent: rgb(255 255 255 / 0);
  --color-pink-crayon: #f41c52;
  --color-pink-light: #ff5f87;
  --color-pink-lighter: #ffb7c8;
  --color-white: #fff;
  --color-gray-lightest: #f5f5f5;
  --color-gray-lighter: #dcdcdc;
  --color-gray-light: #bebebe;
  --color-gray-almost-light-but-not-really: #8d8d8d;
  --color-gray: #505050;
  --color-gray-dark: #464646;
  --color-gray-darker: #323232;

  /* New colors */
  --white: #fff;
  --black: #000;
  --red-400: #f41c52;
  --grey-300: #d1d5db;
  --grey-400: #9ca3af;
  --grey-500: #6b7280;
  --grey-600: #4b5563;
  --blue-800: #1f2937;

  /* Layout */
  --container-sides-space: 24px;
  --container-width: 1060px;
  --header-height: 76px;
  --header-z-index: 999;
  --mobile-menu-z-index: 998;
  --border-radius-8: 8px;
  --ease-1: cubic-bezier(0.5, 1, 0.89, 1);

  /* Gradients */
  --gradient-primary: linear-gradient(
    116.04deg,
    var(--color-pink-crayon) 35.23%,
    #ff537e 129.14%
  );
  --gradient-secondary: linear-gradient(
    90deg,
    var(--color-gray-lightest),
    var(--color-gray-lightest)
  );

  /* Durations */
  --duration-fast: 0.15s;
  --duration-moderate: 0.25s;
  --duration-normal: 0.33s;
  --duration-slow: 0.5s;
  --duration-long: 1s;
  --duration-super-long: 4s;

  /* Border Radius */
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --border-radius-xl: 24px;
  --border-radius-2xl: 32px;
  --border-radius-3xl: 56px;
  --border-radius-full: 9999px;

  /* Z Index */
  --z-index-min-1: -1;
  --z-index-0: 0;
  --z-index-10: 10;
  --z-index-20: 20;
  --z-index-30: 30;
  --z-index-40: 40;
  --z-index-50: 50;

  /* Custom Eases */
  --ease-spring: cubic-bezier(0, 0.37, 0.47, 1.5);
  --ease-out-soft: cubic-bezier(0.23, 0.4, 0.53, 0.88);
}

html {
  line-height: 1.5;
  box-sizing: border-box;
  text-rendering: geometricprecision;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // scroll-behavior: smooth;

  // tweak if site is light mode.
  color-scheme: dark;
  background-color: black;
  scroll-padding-top: calc(var(--header-height) + 66px);
}

body {
  font-family: var(--font-body);
}

body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.screen-reader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (min-width: $screen-lg) {
  :root {
    --header-height: 76px;
  }
}

::selection {
  color: var(--color-white);
  background: var(--color-pink-crayon);
}

.inverted-selection {
  ::selection {
    color: var(--color-pink-crayon);
    background: var(--color-white);
  }
}

.container {
  --padding: 16px;

  width: 100%;
  padding: 0 var(--padding);
  margin: 0 auto;
  max-width: calc(1280px + var(--padding) * 2);

  /* Sizes */
  &.sm {
    max-width: calc(1060px + var(--padding) * 2);
  }

  &.lg {
    max-width: calc(1360px + var(--padding) * 2);
  }
}

@media (min-width: $screen-md) {
  .container {
    --padding: 32px;
  }
}

#scroll-banner {
  display: none;
  min-width: 200px;
  padding: 4px 8px;
  transform: translateX(-50%);
  position: fixed;
  left: 50%;
  top: 10px;
  z-index: 1000;
  border-radius: var(--border-radius-md);
  background-color: var(--color-gray-darker);
  color: white;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
