@import 'css/variables';
@import 'css/helpers';

.section {
  position: relative;
  display: flex;
  align-items: flex-start;
  min-height: calc(100vh - var(--header-height) - 57px);
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5%;
    width: 100%;
    background: linear-gradient(to bottom, transparent, var(--color-white));
  }

  .illustration {
    position: absolute;
    top: 190px;
    right: 0;
    transform: translateX(12%);
    width: 300%;
    max-width: 1100px;

    .marker {
      position: absolute;
      right: 40%;
      top: 51.8%;
      z-index: var(--z-index-10);
    }
  }

  .hero {
    position: relative;
    margin-top: 32px;

    .heading {
      max-width: 810px;

      h1 {
        margin-bottom: 16px;
      }

      span {
        display: block;
        max-width: 250px;
      }

      .heading-highlight {
        color: var(--color-pink-crayon);
      }

      .cta {
        margin-top: 56px;
      }
    }
  }
}

@media (min-width: $screen-md) {
  .section {
    margin: auto;
    align-items: center;
    max-width: 1440px;
    min-height: calc(100vh - var(--header-height) - 37px);

    &::after {
      all: unset;
    }

    .hero {
      .heading {
        h1 {
          margin-bottom: 32px;
        }

        span {
          max-width: unset;
        }
      }
    }

    .illustration {
      right: 0;
      left: unset;
      bottom: unset;
      top: 50%;
      transform: translateY(-50%) translateX(2%);
      width: 110%;
      min-width: 1580px;

      .marker {
        top: 52.65%;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .section {
    &::after {
      content: '';
      position: absolute;
      right: 0;
      width: 15%;
      height: 100%;
      background: linear-gradient(
        to right,
        rgb(255 255 255 / 0) 0%,
        rgb(255 255 255) 100%
      );
    }

    .hero {
      margin-top: unset;
    }
  }
}
