.wrapper {
  width: 100%;
  max-width: 100%;
  overflow: auto;

  .tabs {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    .tab {
      width: 100%;
      padding: 16px;
      border-bottom: 2px solid var(--color-transparent);
      color: var(--color-gray-light);
      letter-spacing: 0.1em;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;

      &[aria-selected='true'] {
        border-color: var(--color-pink-crayon);
        color: var(--color-pink-crayon);
      }
    }
  }
}
