@import 'css/variables';

.hero {
  padding-top: 44px;

  .heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
    place-items: center;
    width: 100%;

    .annual {
      display: flex;
      gap: 8px;
      padding-top: 35px;
      font-size: 14px;

      span {
        &:nth-child(2) {
          font-weight: 600;
        }

        &:last-child {
          color: var(--color-gray);
        }
      }
    }
  }

  .plans {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 48px;

    &__mobile {
      display: none;
    }
  }
}

@media (max-width: $screen-xl) {
  .container {
    padding: 0;
  }

  .hero {
    .plans {
      display: none;

      &__mobile {
        display: unset;

        .slider {
          margin-top: 64px;
          height: 100%;

          .slide {
            margin: 0 20px;

            > div {
              width: 35vw;
              min-width: 410px;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $screen-sm) {
  .hero {
    .heading {
      .annual {
        padding-top: 15px;
      }
    }

    .plans {
      &__mobile {
        .slider {
          margin-top: 64px;
          height: 100%;

          > div {
            padding: 0 16px;

            > div {
              gap: 16px;
            }
          }

          .slide {
            margin: unset;

            > div {
              max-width: 380px;
              width: 78vw;
              min-width: unset;
            }
          }
        }
      }
    }
  }
}
