.progress-bar {
  position: relative;
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  background: #f41c5266;
  border-radius: var(--border-radius-full);

  &.vertical {
    --progress-bar-height: 100%;
    --progress-bar-width: 3px;

    .progress {
      --width: 3px;
      --height: 30%;
      --translate-x: -50%;
      --translate-y: -100%;
      --gradient-direction: to bottom;
      --top: 0px;
      --left: 50%;
    }
  }

  &.horizontal {
    --progress-bar-height: 3px;
    --progress-bar-width: 100%;

    .progress {
      --width: 30%;
      --height: 3px;
      --translate-x: -100%;
      --translate-y: -50%;
      --gradient-direction: to right;
      --top: 50%;
      --left: 0px;
    }
  }

  .marker {
    --top: 50%;
    --left: 50%;

    top: var(--top);
    left: var(--left);
    position: absolute;
  }

  .progress {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-full);

    .progress-gradient {
      border-radius: var(--border-radius-full);
      position: absolute;
      top: var(--top);
      left: var(--left);
      height: var(--height);
      width: var(--width);
      transform: translate(var(--translate-x), var(--translate-y));
      background: linear-gradient(
        var(--gradient-direction),
        transparent,
        #f41c52
      );
    }
  }
}

.marker {
  --translate-x: 0;
  --translate-y: 0;

  display: inline-block;

  .marker-thumb {
    --size: 18px;

    transform: translate(
      calc(var(--translate-x) * -100%),
      calc(var(--translate-y) * -100%)
    );
    position: relative;
    display: inline-block;
    background: var(--color-pink-crayon);
    width: var(--size);
    height: var(--size);
    border-radius: var(--border-radius-full);

    &::before {
      content: '';
      position: absolute;
      width: var(--size);
      height: var(--size);
      background: var(--color-pink-crayon);
      border-radius: var(--border-radius-full);
      animation: 4s linear infinite radar;
    }
  }
}

@keyframes radar {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  40% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}
