.progress-bar {
  --color-primary: var(--white);
  --color-secondary: var(--blue-800);
  --color-transparent: transparent;
  --thickness: 2px;

  position: relative;
  width: var(--progress-bar-width);
  height: var(--progress-bar-height);
  border-radius: var(--border-radius-full);
  background: var(--color-secondary);

  &.vertical {
    --progress-bar-height: 100%;
    --progress-bar-width: var(--thickness);

    .progress {
      --width: 3px;
      --height: 30%;
      --translate-x: -50%;
      --translate-y: -100%;
      --gradient-direction: to bottom;
      --top: 0px;
      --left: 50%;

      .solid {
        --height: 100%;
      }
    }
  }

  &.horizontal {
    --progress-bar-height: var(--thickness);
    --progress-bar-width: 100%;

    .progress {
      --width: 30%;
      --height: var(--thickness);
      --translate-x: -100%;
      --translate-y: -50%;
      --gradient-direction: to right;
      --top: 50%;
      --left: 0px;

      .solid {
        --width: 100%;
      }
    }
  }

  .marker {
    --top: 50%;
    --left: 50%;

    top: var(--top);
    left: var(--left);
    position: absolute;
  }

  .progress {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius-full);

    .progress-gradient {
      border-radius: var(--border-radius-full);
      position: absolute;
      top: var(--top);
      left: var(--left);
      height: var(--height);
      width: var(--width);
      transform: translate(var(--translate-x), var(--translate-y));
      background: linear-gradient(
        var(--gradient-direction),
        var(--color-transparent),
        var(--color-primary)
      );

      &.solid {
        background: var(--color-primary);
      }
    }
  }
}

.marker {
  --animation-max-scale: 2;
  --color: #ffacbb;
  --translate-x: 0;
  --translate-y: 0;

  display: inline-block;
  font-size: 0;

  &.active {
    --color: var(--color-pink-crayon);
  }

  &.current {
    .marker-thumb {
      &::before {
        animation-name: radar;
      }
    }
  }

  .marker-thumb {
    --size: 18px;

    transform: translate(
      calc(var(--translate-x) * -100%),
      calc(var(--translate-y) * -100%)
    );
    position: relative;
    display: inline-block;
    transition: background-color var(--duration-moderate) ease-in-out;
    background-color: var(--color);
    width: var(--size);
    height: var(--size);
    border-radius: var(--border-radius-full);

    &::before {
      content: '';
      position: absolute;
      width: var(--size);
      height: var(--size);
      background: var(--color);
      border-radius: var(--border-radius-full);
      animation: 4s linear infinite none;
      animation-play-state: var(--section-play-state);
      transform-origin: center;
      left: 0;
    }
  }
}

@keyframes radar {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    transform: scale(var(--animation-max-scale));
  }
}
