@import 'css/variables';

.container {
  --padding: 16px;

  width: 100%;
  padding: 0 var(--padding);
  margin: 0 auto;

  @media (min-width: $screen-lg) {
    --padding: 32px;
  }
}

/* Sizes */
.sm {
  max-width: calc(1060px + var(--padding) * 2);
}

.md {
  max-width: calc(1280px + var(--padding) * 2);
}

.lg {
  max-width: calc(1360px + var(--padding) * 2);
}
