.container {
  --padding: 16px;

  padding: 0 var(--padding);
  margin: 0 auto;
}

/* Sizes */
.sm {
  max-width: calc(1060px + var(--padding) * 2);
}

.md {
  max-width: calc(1280px + var(--padding) * 2);
}

.lg {
  max-width: calc(1360px + var(--padding) * 2);
}
