@import 'css/variables';
@import 'css/helpers';

.section {
  overflow: hidden;
  margin-top: 112px;
  position: relative;
  background: var(--gradient-primary);

  &.overflowed {
    overflow: visible;

    .bg {
      transform: translateY(-56%);
    }
  }

  &.hidden {
    .bg {
      display: none;
    }
  }

  .bg {
    z-index: -1;
    position: absolute;
    width: 100%;
    overflow: visible;
    transform: translateY(-50%);
  }
}

.footer {
  color: var(--color-white);
  border-radius: var(--border-radius-2xl);
  padding: 40px 0;

  .top {
    .head {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .heading {
        color: var(--color-white);
      }

      .logo {
        display: flex;
        align-items: center;
        @include space-x(16px);

        .iso {
          display: inline-block;
          width: 32px;
        }
      }

      .cta {
        margin-top: 40px;
        width: 100%;

        .play-button {
          --shadow-opacity: 0;

          transition-property: box-shadow, transform;
          transition-duration: var(--duration-fast);
          transition-timing-function: linear;
          box-shadow: 0px 6px 12px -6px rgb(24 39 75 / var(--shadow-opacity)),
            0px 8px 24px -4px rgb(24 39 75 / var(--shadow-opacity));

          &:hover {
            --shadow-opacity: 0.12;

            transform: scale(1.025);
          }
        }
      }
    }

    .timeline {
      margin-top: 48px;
    }
  }

  .middle {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .get-in-touch {
      width: 100%;

      .title {
        font-family: var(--font-heading);
        font-size: 32px;
        max-width: 340px;
      }

      .button-container {
        margin-top: 24px;
      }
    }

    .nav {
      flex: 1;
      display: grid;
      justify-content: end;
      grid-template-columns: repeat(2, 1fr);
      gap: 48px 20px;
      margin-top: 56px;

      .nav-group {
        width: 100%;
        @include space-y(16px);

        .title {
          font-weight: 700;
          font-size: 18px;
        }

        .list {
          @include space-y(16px);

          a {
            transition: color var(--duration-fast) ease-out;

            &:hover {
              color: var(--color-pink-lighter);
            }
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid var(--color-white);

    .rights {
      display: flex;
      align-items: center;
    }

    .social {
      margin-top: 24px;
      display: flex;
      align-items: center;
      @include space-x(16px);

      a {
        svg {
          fill: white;
          transition: fill var(--duration-fast) ease-out;

          &:hover {
            fill: var(--color-pink-lighter);
          }
        }
      }
    }
  }
}

@media (min-width: $screen-md) {
  .footer {
    background: var(--gradient-primary);

    .top {
      .head {
        flex-direction: row;
        @include space-x(32px);

        .logo {
          @include space-x(24px);

          .iso {
            width: 48px;
          }
        }

        .cta {
          width: auto;
          min-width: 94px;
          margin-top: 0;

          & > * {
            width: 100%;
          }
        }
      }
    }

    .middle {
      .get-in-touch {
        max-width: 385px;

        .title {
          font-size: 28px;
        }
      }
    }

    .bottom {
      flex-direction: row;

      .social {
        margin-top: 0;
      }
    }
  }
}

@media (min-width: $screen-lg) {
  .section {
    margin-top: unset;
    background: none;
    padding-top: 200px;
    padding-bottom: 64px;

    &.hidden {
      padding-top: 120px;
    }
  }

  .footer {
    background: var(--gradient-primary);
    padding: 40px;

    .top {
      .head {
        .logo {
          @include space-x(32px);

          .iso {
            width: 52px;
          }
        }
      }
    }

    .middle {
      margin-top: 80px;
      flex-direction: row;

      .nav {
        margin-top: 0;
        grid-template-columns: none;
        grid-auto-columns: minmax(0, 160px);
        grid-auto-flow: column;
        gap: 0 40px;
      }

      .get-in-touch .title {
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}
