/* stylelint-disable declaration-block-no-redundant-longhand-properties */

.automated-tests {
  display: grid;
  position: relative;
  grid-template-columns: repeat(var(--cols), 1fr);
  width: 100%;
  min-height: 370px;
  justify-items: center;
  align-items: flex-end;

  &.active {
    .line {
      height: var(--perc);
    }
  }

  .line {
    --stagger: 0;

    position: relative;
    width: 16px;
    border-radius: var(--border-radius-full);
    background: #ededed;
    transition-property: background, opacity, height;
    transition-duration: calc(var(--duration-moderate) * 2);
    transition-timing-function: ease-in-out;
    transition-delay: calc(var(--duration-moderate) + var(--stagger));
    height: 16px;

    &.highlighted {
      background: var(--color-pink-crayon);

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        background: var(--color-pink-crayon);
        border-radius: var(--border-radius-full);
        height: 100%;
        width: 100%;
        animation: radar var(--duration-super-long) infinite;
        animation-delay: calc(var(--duration-moderate) * 3 + var(--stagger));
        transform: translate(-50%, -50%);
        opacity: 0.4;
      }
    }
  }
}

.popup {
  --translate-y: 25px;
  --rotate: 45deg;

  transition-property: transform, opacity;
  transition-duration: var(--duration-moderate);
  transition-timing-function: ease-out;
  transition-delay: calc((var(--duration-moderate) * 3) + var(--stagger));
  opacity: 0;
  transform: rotateX(var(--rotate))
    translate(20px, calc(-100% - 20px + var(--translate-y)));
  transform-style: preserve-3d;

  .info {
    color: #717171;
    margin-top: 2px;

    .time {
      color: var(--color-pink-crayon);
      font-weight: 600;
    }
  }

  &.open {
    opacity: 1;

    --translate-y: 0px;
    --rotate: 0deg;
  }
}

@keyframes radar {
  0% {
    opacity: 0;
    height: 100%;
    width: 100%;
  }

  40% {
    opacity: 0.4;
  }

  100% {
    opacity: 0;
    height: calc(100% + 14px);
    width: calc(100% + 14px);
  }
}
